- Representations

- type

- len

- max

- min

- sorted

- reversed

- in

- for loop in

- index

- for loop index

- mutable

- concatenation

- slicing

- methods

**Representations**

- string represntation with quotes

- list represnt with  square brackets []

In [1]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [2]:
type(l1)

list

In [3]:
l2=['A','B','C','D']
l2

['A', 'B', 'C', 'D']

In [4]:
l3=[1,2,3,4,'A','B','C','D']
l3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [5]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
l4

[1, 2, 3, 'Apple', 'Ball', 'Cat', True, False]

In [6]:
name='naresh it'
l5=[name]
l5

['naresh it']

In [7]:
l6=[100,100,100]
l6

[100, 100, 100]

In [8]:
l7=[100,'Apple',['A',2]]
l7

[100, 'Apple', ['A', 2]]

In [ ]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'Apple',['A',2]]

- list are array of elements

- list elements are heterogeneous all the data types we can represent in a list

- list elements are allowed duplicates

- list in list is possible 

- variable assignment also possible in the list

In [ ]:
- len

- max

- min

- sorted

- reversed

In [ ]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'Apple',['A',2]]
len()
max()
min()
sorted()
reversed()

In [9]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
reversed(l4)

In [10]:
for i in reversed(l4):
    print(i)

False
True
Cat
Ball
Apple
3
2
1

In [11]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
list(reversed(l4))

[False, True, 'Cat', 'Ball', 'Apple', 3, 2, 1]

In [14]:
name=['adithya','aadithya','banu']
max(name)
# First compare all first letters
# If all first letters ascii values same
# then compare with second letters
# Continue the process

'banu'

In [15]:
list1=['Apple',
       1,
       ['Cherry','Banana']
      ]
len(list1)

3

In [ ]:
list1=[65,'A']
max(list1) # error

# same data type only comparable

**index**

In [16]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]

#-8  -7  -6    -5     -4    -3    -2    -1
#1    2   3   Apple  Ball  Cat   True   False
#0    1   2    3      4     5      6     7

In [18]:
l4[3],l4[-5]

('Apple', 'Apple')

In [19]:
l1=[1,[2]]
l1[0]

1

In [23]:
new=l1[1]
new[0]

2

In [ ]:
l1=[1,[2]]
new=l1[1]  #  [2]   will come again it is a list, one element
new[0]

l1[1][0]

In [25]:
l1=[1,[2,'A']]
l1[1][1]

# 'A' is presented at index  1
# so we given l1[1] : [2,'A'] it is also a list
# The list has two elements
# 'A' at 1st index
# l1[1][1]

'A'

In [30]:
# How to get 'A'
#  1    [2,'A']
#  0      1
l1=[1,[2,'A']]
# Q1) How many elements are there in a list: 2
# Q2) 'A' is at which index : 
# In python index start at  0
# 0 and 1
l1[1]    #  [2,'A']
# Q3) l1[1]  output is which type list
# Q4) 'A'  1
l1[1][1]

'A'

In [39]:
l1=[1,  # 0
    [2,['A','B']]  # 1
   ]
# I want 'B'
# How many elements
len(l1)
l1[1][1]

['A', 'B']

In [48]:
l1=[1,2,[3,[4,[5,['Apple']]]]]
# 2110
# 21110
len(l1)  #  index=2
l1[2][1][1][1][0]

'Apple'

In [51]:
list1=['Apple',
       1,
       'Solapur',
       ['cherry','papaya',70,[123,'Banana'],
        'tomato'],
       'python'] #get banana  331
list1[3][3][1]

'Banana'

In [58]:
list1=[[[[[[[1,'Cherry']]]]]]]
list1[0][0][0][0][0][0][1]

'Cherry'

In [62]:
list1=['MH',
       ['Nagpur',['Orange',['likes',['king'],['shivaji',['Son',['shmbaji']]]]]
       ]]
len(list1)

2

In [69]:
list1[1][1][1][2][1][1][0]

'shmbaji'

In [ ]:
# In operator : For loop
# Index : For loop
# Mutability check
# Slicing
#

In [1]:
l4=[1,2,3,'A','B','C',True,False]

#-8  -7   -6   -5     -4    -3    -2    -1
#1   2    3    'A'    'B'   'C'   True  False
#0   1    2     3      4     5     6     7
for i in range(len(l4)):
    print(l4[i])

1
2
3
A
B
C
True
False

In [3]:
l4=[1,2,3,'A','B','C',True,False]
for i in range(len(l4)):
    print(f"The postive index of {l4[i]} is {i}")

s='welcome'
for i in range(len(s)):
    print(f"The postive index of {s[i]} is {i}")

The postive index of 1 is 0
The postive index of 2 is 1
The postive index of 3 is 2
The postive index of A is 3
The postive index of B is 4
The postive index of C is 5
The postive index of True is 6
The postive index of False is 7

In [ ]:
l4=[1,2,3,'A','B','C',True,False]
for i in range(len(l4)):
    print(f"The postive index of {l4[i]} is {i}")

In [5]:
# We want to change 1  with 100
l=[1,2,3]
l[0]=100
l

#Hi Sir - how the string is immutable  please explain
s='Naresh'
# We want to change 'h'  'I'
s[5]='I'

# TypeError: 'str' object does not support item assignment
# Not able

[100, 2, 3]

In [ ]:
l=[1,2,3,4,5,6,'A','B','C','D','E','F','G']
-13  -12  -11  -10  -9   -8  -7  -6  -5  -4  -3  -2  -1
1,    2,   3,   4,   5,   6, 'A','B','C','D','E','F','G'
0     1    2    3    4    5   6   7   8   9   10  11  12

l[3:9:2] # P
l[3:9:-2] # Np
l[3:-9:2] # -----
l[3:-9:-2] # Np
l[-3:9:2]  # Np
l[-3:-9:-2] # W
l[-3:9:-2]

In [11]:
l=[1,2,3,4,5,6,'A','B','C','D','E','F','G']
l[3:-9:2]
# start=3
# dire =+ve
# last= stop-1 = -9-1=-10

l[-3:9:-2]

['E']

In [ ]:
# Tomorrow you have a exam
# MCQ in Python

# Sunday you dont have class

# Friday 50-50 (26)
# Sat (27)
# Sun (28)

# Aug 4 class
# Aug 11 class

**List Methods**

In [12]:
# strings dir('')
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

**append**

- adding elements in a list at last index

- append method is very important

- most of the time we will use append in the real time

- When you add the value the original list will be overwrite

In [13]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

In [ ]:
# You want to add Doll in a given list

# Keywords  vs methods
len()
max()
min()
reversed()
sorted()

# Methods
<package>.<method>()
# we already discussed
# Data types has own method
# <data type>.<method>
# <pacckage>.<methods>

In [18]:
l.append('Doll')

In [19]:
l

['Apple', 'Ball', 'Cat', 'Doll', 'Doll']

In [22]:
l1=[1,2,3,4]
l1.append(100)
l1

[1, 2, 3, 4, 100]

In [24]:
l2=[]
l2.append(10)
l2.append(20)
l2.append('apple')
l2.append(['A',1])
l2.append(True)
l2

[10, 20, 'apple', ['A', 1], True]

In [ ]:
list.append() takes exactly one argument how can we add more in one statement sir
l1.append(100,200,300)  # Error

**Append method used to save the output in a list**

In [25]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [29]:
square_list=[]
for i in range(1,6):
    square_list.append(i*i)
# print ==== square_list.append
square_list

[1, 4, 9, 16, 25]

In [ ]:
s=''
for i in 'python':
    s=s+i

# str='hai hai hai'
# what are  index of  'a'
# save that index numbers in a list

In [34]:
str1='hai hai hai'
id_list=[]
for i in range(len(str1)):
    if str1[i]=='a':
        id_list.append(i)

id_list,sum(id_list)

([1, 5, 9], 15)

In [33]:
summ=0
str1='hai hai hai'
for i in range(len(str1)):
    if str1[i]=='a':
        summ=summ+i

summ

15

In [ ]:
# Q2)l1=['Hyd','Mumbai','Chennai','blr']
#  ans=['Mumbai','Chennai']  
#  we want lements which are len of element >4

# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'

# Q4)l1=['hyd','mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai','Chennai','Blr']
#  we want lements which are len of element >4

# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital

# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr'] 
#  we want lements which are having '#'

# Q7) ask the user get 5 numbers randomly
#     even_list and odd_list
#     even numbers should append at even_list
#     odd number should append at odd_list

# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append

# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

# 10 ) 
#  You have two lists
# qns=['What is capital of India',
       'Who is PM of india',
        'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']

# For i in qns:
#     print(i)
#     ans= delhi
#      index should match
#      delhi  modi 
#      marks= marks+1
# print the total marks